@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }


.App {
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.App-logo {
  font-family: 'Monoton', cursive;
  color: whitesmoke;
  position: absolute;
  font-size: calc(15px + 2vmin);
  top: 0;
  left: 0;
}

.App-header {
  background-color: #282c34;
  background-image: url("back_1.jpg");
  background-size: cover; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

.App-projects {
  font-size: calc(10px + 2vmin);
}
.App-project {
  min-height: 20vh;
  font-size: calc(10px + 2vmin);
}

.App-project-image {
  width: 50vw;
  background-color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
  font-size: calc(15px + 2vmin);
  text-align: center;

}

.App-project-text {
  width: 50vw;
  background-color: #282c34;
  color: whitesmoke; 
  font-family: 'Quicksand', sans-serif;
  font-size: calc(1px + 2vmin);



}
.App-team {
  background-color: #282c34;
  font-size: calc(3px + 2vmin);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  color: whitesmoke;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.App-team-header {
  font-size: calc(20px + 2vmin);
  padding-top: 25px;
  padding-bottom: 45px;
  
}

.App-link {
  color: #61dafb;
}

.linkki {
  position: relative;
  top: 0;
  transition: top ease 0.5s;
  padding: 20px;
  cursor: pointer;
}
.linkki:hover {
  top: -10px;
}

.linkki a {
  color:inherit;
  text-decoration: none;
}

.avatar-container {
  width: 25vw;
}

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
